// 🎨 Colores principales
$bg-color: #121212;
$sidebar-bg: #000;
$album-bg: #1a1a1a;
$text-color: #fff;
$primary-color: #1db954;

// 📏 Medidas
$sidebar-width: 80px;
$album-column-width: 300px;
$border-radius: 10px;
$album-width: 250px; // Ajusta según el diseño